<template>
    <div>

    <el-form v-if="! $store.getters.authorised" :inline="true" :model="formCredential">
        <el-form-item>
            <el-input v-model="formCredential.username" placeholder="Utente"></el-input>
        </el-form-item><el-form-item>
            <el-input v-model="formCredential.password" placeholder="Password" type="password"></el-input>
        </el-form-item><el-form-item>
            <el-button :disabled="loginDisabled" type="primary" @click="performLogin">Login</el-button>
        </el-form-item>
    </el-form>
    <el-alert 
        v-if="$store.state.mars.credential.errors != ''" 
        :title="$store.state.mars.credential.errors"
        :closable="false" type="error">
    </el-alert>

    <div v-if="$store.getters.authorised">
        {{ $store.state.mars.credential.username }}
    </div>

    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    data() {
        return {
            formCredential: {
                username: '',
                password: ''
            }
        }
    },
    computed: {
        loginDisabled(): boolean { return this.formCredential.username === '' || this.formCredential.password === '' },
        user() { return (this as any).$store.state.user; },
        serverErrors() { return (this as any).$store.state.mars.credential.errors; },
    },
    methods: {
        performLogin() {
            this.$store.dispatch('loginUser', { 
                username: this.formCredential.username, 
                password: this.formCredential.password,
            });
        },
    }
});
</script>