<template>
  <div>
    <mars-table v-if="state === 'view'" :tableName="tableName" @insert="onInsert" @edit="onEdit" :editable="editable"></mars-table>
    <el-row v-if="state === 'editing'">
      <el-col :span="12" :offset="6">
        <mars-form :tableName="tableName" @cancel="state = 'view'" @submit="state = 'view'" :rowPk="rowPk"></mars-form>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">

import Vue from "vue";
import MarsTable from "./MarsTable.vue";
import MarsForm from "./MarsForm.vue";

export default Vue.extend({
    components: { MarsForm, MarsTable },
    name: 'mars-table-editor',
    props: ['tableName', 'editable'],
    data () {
        return {
            state: 'view',
            rowPk: null
        }
    },
    methods: {
        onInsert(): void {
            this.rowPk = null;
            this.state = 'editing';
        },
        onEdit(pk: any): void {
            this.rowPk = pk;
            this.state = 'editing';
        }
    }
});
</script>

<style scoped>
</style>
