<template>
  <el-row>
    <h3>Inserting record in {{ tableName }}</h3>
    <el-form ref="form" label-position="right" label-width="150px" :model="form" :rules="formRules">
      <el-form-item v-for="field of fields" :key="field.id" :prop="field.id" :label="field.id" :required="field.required">
        <mars-form-reference v-if="field.type == 'reference'" v-model="form[field.id]" :reference="getReference(field)" :columnName="field.id" :restriction="form"></mars-form-reference>
        <el-checkbox v-else-if="field.type == 'boolean'" v-model="form[field.id]"></el-checkbox>
        <el-input-number v-else-if="field.type == 'integer' || field.type == 'double precision' || field.type == 'smallint'" v-model="form[field.id]"></el-input-number>
        <span v-else-if="field.type == 'serial'">{{ form[field.id] }}</span>
        <el-input v-else v-model="form[field.id]"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="$emit('cancel')">Cancel</el-button>
        <el-button type="primary" @click="submit">Confirm</el-button>
      </el-form-item>
    </el-form>
  </el-row>
</template>

<script lang="ts">
import Vue from "vue";
import MarsFormReference from './MarsFormReference.vue';
import { Message } from 'element-ui';

export default Vue.extend({
    name: 'mars-form',
    props: ['tableName', 'rowPk'],
    components: {
      MarsFormReference
    },
    data () {
      return {
        table: [],
        table_mars_definition: ({} as any),
        storedForm: ({} as any),
        formRules: ({} as any),
      }
    },
    computed: {
      alasqlTable(): any {
        return (this as any).$mars.client().db.tables[this.tableName];
      },
      columns(): any {
        //Retrieve the columns of the table
        const columns = this.alasqlTable.columns;
        //Exclude all the columns that decorates the table
        return columns.filter((col: any) => col.columnid !== 'mars_who' && col.columnid !== 'mars_what' && col.columnid !== 'mars_when');
      },
      form(): any {

        //Create the rule for a required field
        const requiredRule = (value: any, callback: any) => {
          if (value === null) {
            callback(new Error('The field is required'));
            return false;
          }
          return true;
        };
        
        //Create the rule for an unique field
        const uniqueRule: any = (columnName: any, value: any, callback: any) => {

          if(this.rowPk) {
            //Check if the values of the edited row are the same values of the form
            let isSamePk = true;
            for (let field in this.storedForm) {
              if(this.isAPrimaryKey(field))
                isSamePk = isSamePk && this.rowPk[field] === (this as any).storedForm[field];
            }

            //If the primary key are the same, then it's not necessary to verify if the primary key is unique
            if(isSamePk) {
              return true;
            }
          }
          //It's a new record or the primary key for the record to update is different

          //If some row matches with the form values, then the row is not unique
          const isUnique = !this.table.some((row: any) => {
              for(let field in this.storedForm) {
                if(this.isAPrimaryKey(field))
                  //If the current field differs from the current row value, than the row does not match with the form
                  if (row[field] !== (this as any).storedForm[field])
                    return false;
                }
              return true;
          });

          //If the primary key is unique then return true
          if(isUnique) {
            return true;
          }

          //The primary key is not unique
          callback(new Error('The value must be unique'));
          return false;
        };

        //Create the rule for the integer field
        const integerRule = (value: any, callback: any): boolean => {
          if (Math.trunc(value) !== value) {
            callback(new Error('The value must be integer'));
            return false;
          }
          return true;
        };

        //Retrieve the initialization values of the fields
        const initValues: any = this.rowPk ? this.table.find((row: any) => {
            for(let col in this.rowPk) {
                if(row[col] !== this.rowPk[col]) return false;
            }
            return true;
        }) : null;

        //Generate the form using the columns of the table
        let form: any = {};
        let formRules: any = {};
        for (let col of this.columns) {
          form[col.columnid] = initValues ? initValues[col.columnid] : this.getDefaultType(col.dbtypeid.toLowerCase());

          //Generate the rules necessary for the field
          const rule = (rule: any, value: any, callback: any) => {
            if (col.notnull && !requiredRule(value, callback))
              return;
            if (this.isAPrimaryKey(col.columnid) && !uniqueRule(col.columnid, value, callback))
              return;
            if (col.dbtypeid.toLowerCase() === 'integer' && !integerRule(value, callback))
              return;
            callback();
          };

          const fieldRule: any = { validator: rule, trigger: 'change' };

          formRules[col.columnid] = [fieldRule];
        }
        //Store the form to receive correctly the changes
        this.storedForm = form;
        this.formRules = formRules;
        return this.storedForm;
      },
      fields(): any {
        //Generate the fields providing only the necessary info
        return this.columns.map((col: any) => {
          return {id: col.columnid, type: this.getColumnType(col), required: col.notnull}
        });
      },
    },
    created() {
      //Subscribe the table in the mars component
      //All the table is necessary to perform the correct validation rules
      const options = {
        select: "select * from " + this.tableName,
        columns: this.columns.map((col: any) => col.columnid),
        table: this.tableName
      };
      (this as any).$mars.option("table", options);
      (this as any).$mars.registerSubscriptions();
    },
    methods: {
      getColumnType(column: any) {
        //First check if it is a reference
        if (this.isAReference(column.columnid))
          return 'reference';
        //If the field is not a reference then it's necessary to check the type of the column
        return column.dbtypeid.toLowerCase();
      },
      isAPrimaryKey(columnName: any): boolean {
        if (this.alasqlTable.pk)
          return this.alasqlTable.pk.columns.includes(columnName);
        return false;
      },
      isAReference(columnName: any): boolean {
        //Return if the given column is a reference checking in the mars definition of the table
        if (this.table_mars_definition.references)
          return this.table_mars_definition.references.some((reference: any) => reference.referenceCols.includes(columnName));
        return false;
      },
      getReference(field: any): any {
        //Retrieve the reference
        return this.table_mars_definition.references.find((reference: any) => reference.referenceCols.includes(field.id));
      },
      getDefaultType(type: any): any {
        switch(type) {
          case 'text': return '';
          case 'serial': return this.table.length + 1;
          default: return null;
        }
      },
      submit(): any {
        (this as any).$refs.form.validate((valid: any) => {
          if (valid) {
            //Deleted potential decorated fields due to sync with the database
            delete this.storedForm.mars_what;
            delete this.storedForm.mars_who;
            delete this.storedForm.mars_when;
            //If the row primary key is defined, then it's necessary to update the record, otherwise to insert it
            if(this.rowPk) {
              //Update the record
              (this as any).$mars.updateRecord(this.tableName, this.rowPk, this.storedForm);
            } else {
              //Insert the record
              (this as any).$mars.insertRecord(this.tableName, this.storedForm);
            }
            this.$emit('submit');
          }
        });
      }
    }
});
</script>


