<template>
  <el-select v-model="valueSelected" placeholder="Select" @change="updateValue">
    <el-option v-for="row of table" :key="row[singleReference.columnName]" :value="row[singleReference.columnName]" :label="row[label]"></el-option>
  </el-select>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: 'mars-form-reference',
    props: ['value', 'reference', 'columnName', 'restriction'],
    data () {
      return {
        table: [],
        valueSelected: this.value,
        currentRestrictedValues: ({} as any),
      }
    },
    computed: {
      singleReference(): any {
        //Create the single reference referred to this field
        const columnIndex = this.reference.referenceCols.indexOf(this.columnName);
        return {
          tableName: this.reference.referencedTable,
          columnName: this.reference.referencedCols[columnIndex]
        };
      },
      restrictionValues(): any {
        //Retrieve the restriction values of for this field
        const columnIndex = this.reference.referenceCols.indexOf(this.columnName);
        this.currentRestrictedValues = columnIndex === 0 ? null : {};
        for(let index = 0; index < columnIndex; ++index) {
          const referencedColumnName = this.reference.referencedCols[index];
          this.currentRestrictedValues[referencedColumnName] = this.restriction[referencedColumnName];
        }
        return this.currentRestrictedValues;
      },
      labels(): any {
        return {
          planets: {
            idx: 'name'
          }
        }
      },
      label(): any {
        const labelsForTable: any = this.labels[this.singleReference.tableName];
        if(labelsForTable) {
          const labelForReferencedColumn = labelsForTable[this.singleReference.columnName];
          if (labelForReferencedColumn) {
            return labelForReferencedColumn;
          }
        }
        return this.singleReference.columnName;
      }
    },
    watch: {
      table(): void {
        //Check if the available values contains the current value
        if(this.table.length !== 0 && this.currentRestrictedValues) {
          if(!this.table.some((row: any) => row[this.singleReference.columnName] === this.valueSelected))
            //The current value does not match with the constraint, so replace it with the first available value
            this.valueSelected = (this as any).table[0][this.singleReference.columnName];
        }
      }
    },
    created(): void {
      //Retrieve the columns for this reference. If the referenced column requires a label, add the label column too
      let columns = [this.singleReference.columnName];
      if(this.label !== this.singleReference.columnName)
        columns.push(this.label);

      //Generate the options for the subscription
      let options = {
        select: "select " + columns.join(', ') + " from " + this.singleReference.tableName,
        columns: columns,
        table: this.singleReference.tableName
      };
      //If there are some restriction values, then it's necessary to filter by them because the reference is based on more columns
      if(this.restrictionValues) {
        options.select += " where ";
        for(let property in this.restrictionValues) {
          options.select += property + "=$" + property + " and ";
        }
        options.select += " 1=1";
        (options as any).parameters = () => this.restrictionValues;
      }
      (this as any).$mars.option("table", options);
      (this as any).$mars.registerSubscriptions();
    },
    methods: {
      updateValue(value: any) {
        this.$emit('input', value);
      }
    }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
