<template>
  <div>
    <el-row type="flex" justify="space-between">
      <h3>{{ tableName }}</h3>
      <el-button v-if="editable" icon="plus" type="info" @click="$emit('insert')">New</el-button>
    </el-row>
    <hr/>
    <el-table :data="table" empty-text="No Data" :row-class-name="rowStatusClassName">
      <el-table-column v-if="editable" width="190" fixed>
        <template slot-scope="scope">
          <el-button type="danger" size="small" icon="delete2" @click="deleteRecord(getPrimaryKey(scope))">Delete</el-button>
          <el-button type="info" size="small" icon="edit" @click="$emit('edit', getPrimaryKey(scope))">Edit</el-button>
        </template>
      </el-table-column>
      <el-table-column v-for="col of columns" :key="col.columnid" :prop="col.columnid" :label="col.columnid" sortable>
        <template slot-scope="scope">
          <el-checkbox v-if="getFormatType(scope) == 'boolean'" disabled :checked="scope.row[scope.column.property]"></el-checkbox>
          <span v-else-if="getFormatType(scope) == 'reference'">
            <a href="#">{{ scope.row[scope.column.property] }}</a>
          </span>
          <span v-else>
            {{ scope.row[scope.column.property] }}
          </span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

interface AlaSQLColumn {
    columnid: string;
    dbprecision: any;
    dbsize: any;
    dbtypeid: string;
    identity: any;
    notnull: boolean;
}

export default Vue.extend({
    name: 'mars-table',
    props: ['tableName', 'editable'],
    data () {
      return {
        table: [],
        table_mars_definition: <any>{}
      }
    },
    computed: {
      alasqlTable(): any {
        let table: any = (<any>this).$mars.client().db.tables[this.tableName];
        console.log((<any>this).$mars.client().db.tables);
        if( table ) return table;
        alert("a table with name "+ this.tableName +" does not exist (MarsTable)"); 
      },
      columns(): any {
        //Retrieve the columns of the table
        const columns = this.alasqlTable.columns as Array<AlaSQLColumn>;
        if( columns ){
          //Exclude all the columns that decorates the table

          let cols: any = columns.filter((col: any) => col.columnid !== 'mars_who' && col.columnid !== 'mars_what' && col.columnid !== 'mars_when');
          if( cols ) return cols;
          alert("something whird!"+cols);
        }
        else {
          alert("table "+this.tableName+" is missing columns name in the mars declaration (MarsTable)");
        }
      },
    },
    mars: {},
    created() {
      //Subscribe the table in the mars component
      const options = {
        select: "select * from " + this.tableName,
        columns: this.columns.map((col: any) => col.columnid),
        table: this.tableName
      };
      (<any>this).$mars.option("table", options);
      (<any>this).$mars.registerSubscriptions();
    },
    methods: {
      rowStatusClassName(row: any, index: any): string {
        if( row.mars_what ){
          const what: string = row.mars_what;
          if( what === "imported" ) return "dataStatusImported";
          else if( what === "opt_insert") return "dataStatusOptInserted"; // mars.ts
          else if( what === "optupdated" ) return "dataStatusOptUpdated"; // mars.ts
          else if( what === "inserted") return "dataStatusInserted";
          else if( what === "deleted") return "dataStatusDeleted";
          else if( what === "updated") return "dataStatusUpdated";
          else {
            alert("bug: MarsTable processing a row with an unkown mars_what:"+ JSON.stringify(row));
            return "";
          }
        }
        else return "";
      },
      getFormatType(scope: any) {
        const columnName = scope.column.property;
        if (this.isAReference(columnName))
          return 'reference';
        return this.columns.find((col: any) => col.columnid === columnName).dbtypeid.toLowerCase();
      },
      isAReference(columnName: any): boolean {
        if (this.table_mars_definition.references)
          return this.table_mars_definition.references.some((reference: any) => reference.referenceCols.includes(columnName));
        return false;
      },
      getPrimaryKey(scope: any): any {
        const row = scope.row;
        //If the table has no a primary key, then all the columns are the primary key
        const pkCols = this.alasqlTable.pk ? this.alasqlTable.pk.columns : this.alasqlTable.columns.map((col: any) => col.columnid);
        let pk: any = {};
        for(let pkCol of pkCols) {
          pk[pkCol] = row[pkCol];
        }
        return pk;
      },
      deleteRecord(rowPk: any): any {
        (<any>this).$confirm('This will permanently delete the record. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          callback: (action: any) => { if(action === 'confirm') (<any>this).$mars.deleteRecord(this.tableName, rowPk) }
        });
      }
    }
  });
</script>

<!-- scoped does not work in this case (donno way) -->
<style>

    .el-table .dataStatusOptInserted {
        background: rgb(255, 255, 200);
    }
    .el-table .dataStatusInserted {
        background: rgb(200, 255, 200);
    }


    .el-table .dataStatusOptUpdated {
        background: rgb(200, 200, 255);
    }
    .el-table .dataStatusUpdated {
        background: rgb(200, 255, 255);
    }


    .el-table .dataStatusDeleted {
        background: rgb(255, 200, 200);
    }

</style>
